Импортируем библиотеки

02.2023

In [9]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     --------- ----------------------------- 61.4/250.0 kB 1.1 MB/s eta 0:00:01
     --------------------- ---------------- 143.4/250.0 kB 1.4 MB/s eta 0:00:01
     -------------------------- ----------- 174.1/250.0 kB 1.5 MB/s eta 0:00:01
     ------------------------------- ------ 204.8/250.0 kB 1.1 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 1.0 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
import numpy as np
import pandas as pd

Загрузка таблиц excel, из-за ограничения по количеству строк в СПАРКе, пришлось выгружать девять раз,

In [ ]:
t1 = pd.read_excel("C:/Users/fizze/Desktop/90k14-16/10k14-16.xlsx")

In [22]:
t2 = pd.read_excel("C:/Users/fizze/Desktop/90k14-16/20k14-16.xlsx")

In [27]:
t3 = pd.read_excel("C:/Users/fizze/Desktop/90k14-16/30k14-16.xlsx")

In [35]:
t4 = pd.read_excel("C:/Users/fizze/Desktop/90k14-16/40k14-16.xlsx", skiprows=3, nrows=10000)

In [37]:
t5 = pd.read_excel("C:/Users/fizze/Desktop/90k14-16/50k14-16.xlsx", skiprows=3, nrows=10000)

In [39]:
t6 = pd.read_excel("C:/Users/fizze/Desktop/90k14-16/60k14-16.xlsx", skiprows=3, nrows=10000)

In [38]:
t7 = pd.read_excel("C:/Users/fizze/Desktop/90k14-16/70k14-16.xlsx", skiprows=3, nrows=10000)

In [40]:
t8 = pd.read_excel("C:/Users/fizze/Desktop/90k14-16/80k14-16.xlsx", skiprows=3, nrows=10000)

In [63]:
t92 = pd.read_excel("C:/Users/fizze/Desktop/90k14-16/90k14-16.xlsx", skiprows=3, nrows=9472)

Объединим в один датасет

In [54]:
tu2 = pd.concat([t1, t2, t3, t4, t5, t6, t7, t8, t9], ignore_index=True)

In [66]:
tu2.to_excel('90K17-21.xlsx')

In [59]:
t1 = pd.read_excel("C:/Users/fizze/Desktop/90k17-21/10k17-21.xlsx", skiprows=3, nrows=10000)
t2 = pd.read_excel("C:/Users/fizze/Desktop/90k17-21/20k17-21.xlsx", skiprows=3, nrows=10000)
t3 = pd.read_excel("C:/Users/fizze/Desktop/90k17-21/30k17-21.xlsx", skiprows=3, nrows=10000)
t4 = pd.read_excel("C:/Users/fizze/Desktop/90k17-21/40k17-21.xlsx", skiprows=3, nrows=10000)
t5 = pd.read_excel("C:/Users/fizze/Desktop/90k17-21/50k17-21.xlsx", skiprows=3, nrows=10000)
t6 = pd.read_excel("C:/Users/fizze/Desktop/90k17-21/60k17-21.xlsx", skiprows=3, nrows=10000)
t7 = pd.read_excel("C:/Users/fizze/Desktop/90k17-21/70k17-21.xlsx", skiprows=3, nrows=10000)
t8 = pd.read_excel("C:/Users/fizze/Desktop/90k17-21/80k17-21.xlsx", skiprows=3, nrows=10000)
t9 = pd.read_excel("C:/Users/fizze/Desktop/90k17-21/90k17-21.xlsx", skiprows=3, nrows=9472)

In [2]:
un = pd.read_excel("C:/Users/fizze/Desktop/90k/updatedun.xlsx")

In [3]:
un.head()

,Unnamed: 0,Наименование,Код налогоплательщика,Код основного вида деятельности,Код ОКФС,"2014, Выручка, RUB","2015, Выручка, RUB","2016, Выручка, RUB","2017, Выручка, RUB","2018, Выручка, RUB",...,"2020, Прибыль (убыток) до налогообложения , RUB","2021, Прибыль (убыток) до налогообложения , RUB","2014, Чистая прибыль (убыток), RUB","2015, Чистая прибыль (убыток), RUB","2016, Чистая прибыль (убыток), RUB","2017, Чистая прибыль (убыток), RUB","2018, Чистая прибыль (убыток), RUB","2019, Чистая прибыль (убыток), RUB","2020, Чистая прибыль (убыток), RUB","2021, Чистая прибыль (убыток), RUB"
0,0,"(КОЛХОЗ) ИМ. КАЛИНИНА, СПК",7305000248,01.41,16,81948000,116824000,107300000,116429000.0,133251000.0,...,51973000.0,36616000.0,8992000.0,-2406000.0,16186000.0,24478000.0,39000.0,4264000.0,51973000.0,36616000.0
1,1,"(КОЛХОЗ) ИМ. КРУПСКОЙ, СПК",5651005199,01.5,16,21930000,28694000,36743000,NaN,NaN,...,NaN,NaN,-449000.0,-997000.0,-10729000.0,NaN,NaN,NaN,NaN,NaN
2,2,"(КОЛХОЗ) ИМ. КУЙБЫШЕВА, СПК",3226003979,01.41,16,10188000,11049000,10413000,11287000.0,11309000.0,...,94000.0,-980000.0,809000.0,1509000.0,534000.0,-99000.0,-4223000.0,-7166000.0,94000.0,-980000.0
3,3,"(КОЛХОЗ) ИМ. ЛЕНИНА, СПК",5226011973,01.41,16,17646000,32154000,40915000,31240000.0,24586000.0,...,7720000.0,225000.0,2913000.0,8325000.0,8419000.0,2890000.0,1458000.0,1393000.0,7720000.0,225000.0
4,4,"(КОЛХОЗ) ИМЕНИ КАЛИНИНА, СПК",1807000378,01.50,16,130639000,145724000,141592000,155453000.0,181461000.0,...,52520000.0,50077000.0,21753000.0,16538000.0,12107000.0,13278000.0,30570000.0,42583000.0,52387000.0,49781000.0

In [28]:
un = un.iloc[:, 1:]

In [ ]:
un[un['Код ОКФС']==50]

In [ ]:
un['PropType'] = np.where((un['PropCode'] == 16) | (un['PropCode'] == 18), 'private', un['PropType'])

In [64]:
treat['Код ОКФС'].unique().tolist()

[16, 12, 34, 23, 53, 41, 42, 61, 49]

In [46]:
treat = pd.read_excel("C:/Users/fizze/Desktop/trans_filtred2.xlsx")

In [80]:
un = un[un['PropCode'].isin(treat['Код ОКФС'].unique().tolist())]

In [78]:
un.rename({'Код ОКФС': 'PropCode'}, axis=1, inplace=True)

In [84]:
len(un.PropCode.unique()) == len(treat['Код ОКФС'].unique())

True

In [115]:
un.PropCode.unique()

array([16, 42, 12, 41, 34, 23, 49, 61, 53], dtype=int64)

In [ ]:
# INCLUDES private only
un['PropType'] = np.where(un['PropCode'] == 16, 'private', un['PropType'])

In [ ]:
state1other = [12, 41, 42, 49, 53, 61] ## INCLUDES state, mun., mixed, communities
un['PropType'] = np.where(un['PropCode'].isin(state1other), 'state', un['PropType'])

In [ ]:
## INCLUDES foreign + private&foreign
un['PropType'] = np.where((un['PropCode'] == 23) | (un.PropCode == 34), 'foreign', un['PropType'])

In [169]:
np.unique(un[un.PropType == '0']['PropCode'].tolist())

array([16])

In [178]:
np.unique(un['PropType'].tolist())

array(['foreign', 'private', 'state'], dtype='<U7')

In [179]:
un.to_excel('upd1_prop.xlsx')

In [4]:
upd1 = pd.read_excel("C:/Users/fizze/Desktop/90k/upd1_property.xlsx", ignore_index=True)

In [31]:
upd1 = upd1.drop('Unnamed: 0', axis=1)

In [3]:
ig = pd.read_excel("main/trans_filtred2.xlsx")

In [4]:
cg = pd.read_excel("90k/upd1_property.xlsx")

In [7]:
ig.rename(columns={'Код ОКФС': 'PropCode', 'Код основного вида деятельности': 'ActCode'}, inplace=True)

In [10]:
ig.head()

,Name,INN,ActCode,PropCode,"2014, Выручка, RUB","2015, Выручка, RUB","2016, Выручка, RUB","2017, Выручка, RUB","2018, Выручка, RUB","2019, Выручка, RUB",...,"2020, Прибыль (убыток) до налогообложения , RUB","2021, Прибыль (убыток) до налогообложения , RUB","2014, Чистая прибыль (убыток), RUB","2015, Чистая прибыль (убыток), RUB","2016, Чистая прибыль (убыток), RUB","2017, Чистая прибыль (убыток), RUB","2018, Чистая прибыль (убыток), RUB","2019, Чистая прибыль (убыток), RUB","2020, Чистая прибыль (убыток), RUB","2021, Чистая прибыль (убыток), RUB"
0,"АБИ ГРУПП, ЗАО",3328435022,70.22,16,1.201740e+08,1.413170e+08,1.264400e+08,1.201380e+08,1.618730e+08,2.029470e+08,...,4.028200e+07,2.951700e+07,3.039500e+07,1.701600e+07,9.794000e+06,4.640000e+05,1.087100e+07,3.115800e+07,3.204100e+07,2.338800e+07
1,"АБИ ПРОДАКТ, АО",3328458132,70.22,16,7.395810e+08,1.299192e+09,1.832459e+09,2.757634e+09,2.852426e+09,3.188583e+09,...,3.111380e+09,4.238000e+06,5.012300e+08,2.365360e+08,5.352400e+08,3.008589e+09,1.056581e+09,1.835680e+09,3.018320e+09,6.510000e+05
2,"АВТОДОР, ГОСУДАРСТВЕННАЯ КОМПАНИЯ",7717151380,84.11.8,12,7.209280e+08,4.613910e+08,8.096390e+08,2.428650e+08,NaN,NaN,...,NaN,NaN,3.631680e+08,9.854550e+08,9.255340e+08,5.013900e+07,NaN,NaN,NaN,NaN
3,"АГРОКОМПЛЕКС ИМ. Н.И.ТКАЧЕВА, АО ФИРМА",2328000083,01.50,16,2.653824e+10,3.868161e+10,4.475645e+10,4.667984e+10,5.002613e+10,5.319341e+10,...,2.686656e+09,9.080602e+09,4.145442e+09,6.645393e+09,2.944203e+09,-2.112012e+09,-2.924708e+09,1.641324e+09,2.673351e+09,8.600205e+09
4,"АГРОСИЛА, АО",1604010557,69.10,16,NaN,NaN,4.040600e+07,3.228218e+09,3.273816e+09,3.931738e+09,...,1.534600e+07,9.938700e+07,NaN,NaN,-1.019000e+06,2.094900e+07,2.024800e+07,5.184000e+07,1.154100e+07,7.441900e+07

In [22]:
del cg['Unnamed: 0']

In [18]:
cg.rename(columns={'Код налогоплательщика': 'INN', 'Наименование': 'Name', 'Код основного вида деятельности': 'ActCode'}, inplace=True)

In [23]:
cg.head()

,Name,INN,ActCode,PropCode,"2014, Выручка, RUB","2015, Выручка, RUB","2016, Выручка, RUB","2017, Выручка, RUB","2018, Выручка, RUB","2019, Выручка, RUB",...,"2021, Прибыль (убыток) до налогообложения , RUB","2014, Чистая прибыль (убыток), RUB","2015, Чистая прибыль (убыток), RUB","2016, Чистая прибыль (убыток), RUB","2017, Чистая прибыль (убыток), RUB","2018, Чистая прибыль (убыток), RUB","2019, Чистая прибыль (убыток), RUB","2020, Чистая прибыль (убыток), RUB","2021, Чистая прибыль (убыток), RUB",PropType
0,"(КОЛХОЗ) ИМ. КАЛИНИНА, СПК",7305000248,01.41,16,81948000,116824000,107300000,116429000.0,133251000.0,129910000.0,...,36616000.0,8992000.0,-2406000.0,16186000.0,24478000.0,39000.0,4264000.0,51973000.0,36616000.0,private
1,"(КОЛХОЗ) ИМ. КРУПСКОЙ, СПК",5651005199,01.5,16,21930000,28694000,36743000,NaN,NaN,NaN,...,NaN,-449000.0,-997000.0,-10729000.0,NaN,NaN,NaN,NaN,NaN,private
2,"(КОЛХОЗ) ИМ. КУЙБЫШЕВА, СПК",3226003979,01.41,16,10188000,11049000,10413000,11287000.0,11309000.0,12847000.0,...,-980000.0,809000.0,1509000.0,534000.0,-99000.0,-4223000.0,-7166000.0,94000.0,-980000.0,private
3,"(КОЛХОЗ) ИМ. ЛЕНИНА, СПК",5226011973,01.41,16,17646000,32154000,40915000,31240000.0,24586000.0,27445000.0,...,225000.0,2913000.0,8325000.0,8419000.0,2890000.0,1458000.0,1393000.0,7720000.0,225000.0,private
4,"(КОЛХОЗ) ИМЕНИ КАЛИНИНА, СПК",1807000378,01.50,16,130639000,145724000,141592000,155453000.0,181461000.0,223975000.0,...,50077000.0,21753000.0,16538000.0,12107000.0,13278000.0,30570000.0,42583000.0,52387000.0,49781000.0,private

In [26]:
ig.columns

Index(['Name', 'INN', 'ActCode', 'PropCode', '2014, Выручка, RUB',
       '2015, Выручка, RUB', '2016, Выручка, RUB', '2017, Выручка, RUB',
       '2018, Выручка, RUB', '2019, Выручка, RUB', '2020, Выручка, RUB',
       '2021, Выручка, RUB', '2014, Прибыль (убыток) до налогообложения , RUB',
       '2015, Прибыль (убыток) до налогообложения , RUB',
       '2016, Прибыль (убыток) до налогообложения , RUB',
       '2017, Прибыль (убыток) до налогообложения , RUB',
       '2018, Прибыль (убыток) до налогообложения , RUB',
       '2019, Прибыль (убыток) до налогообложения , RUB',
       '2020, Прибыль (убыток) до налогообложения , RUB',
       '2021, Прибыль (убыток) до налогообложения , RUB',
       '2014, Чистая прибыль (убыток), RUB',
       '2015, Чистая прибыль (убыток), RUB',
       '2016, Чистая прибыль (убыток), RUB',
       '2017, Чистая прибыль (убыток), RUB',
       '2018, Чистая прибыль (убыток), RUB',
       '2019, Чистая прибыль (убыток), RUB',
       '2020, Чистая прибыль (убыток), RUB',
       '2021, Чистая прибыль (убыток), RUB'],
      dtype='object')

In [27]:
cg.columns

Index(['Name', 'INN', 'ActCode', 'PropCode', '2014, Выручка, RUB',
       '2015, Выручка, RUB', '2016, Выручка, RUB', '2017, Выручка, RUB',
       '2018, Выручка, RUB', '2019, Выручка, RUB', '2020, Выручка, RUB',
       '2021, Выручка, RUB', '2014, Прибыль (убыток) до налогообложения , RUB',
       '2015, Прибыль (убыток) до налогообложения , RUB',
       '2016, Прибыль (убыток) до налогообложения , RUB',
       '2017, Прибыль (убыток) до налогообложения , RUB',
       '2018, Прибыль (убыток) до налогообложения , RUB',
       '2019, Прибыль (убыток) до налогообложения , RUB',
       '2020, Прибыль (убыток) до налогообложения , RUB',
       '2021, Прибыль (убыток) до налогообложения , RUB',
       '2014, Чистая прибыль (убыток), RUB',
       '2015, Чистая прибыль (убыток), RUB',
       '2016, Чистая прибыль (убыток), RUB',
       '2017, Чистая прибыль (убыток), RUB',
       '2018, Чистая прибыль (убыток), RUB',
       '2019, Чистая прибыль (убыток), RUB',
       '2020, Чистая прибыль (убыток), RUB',
       '2021, Чистая прибыль (убыток), RUB', 'PropType'],
      dtype='object')

Create a PropType for interaction group

In [28]:
#checking
sorted(ig.PropCode.unique())

[12, 16, 23, 34, 41, 42, 49, 53, 61]

In [29]:
sorted(cg.PropCode.unique())

[12, 16, 23, 34, 41, 42, 49, 53, 61]

In [30]:
ig['PropType'] = 0

In [31]:
# INCLUDES private only
ig['PropType'] = np.where(ig['PropCode'] == 16, 'private', ig['PropType'])

In [32]:
state1other = [12, 41, 42, 49, 53, 61] 
## INCLUDES state, mun., mixed, communities
ig['PropType'] = np.where(ig['PropCode'].isin(state1other), 'state', ig['PropType'])

In [33]:
## INCLUDES foreign + private&foreign
ig['PropType'] = np.where((ig['PropCode'] == 23) | (ig.PropCode == 34), 'foreign', ig['PropType'])

In [35]:
ig.columns == cg.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [36]:
ig.to_csv('readyig.csv')

In [37]:
cg.to_csv('readycg.csv')

In [38]:
ig['treat'] = 1
cg['treat'] = 0

In [57]:
conca = pd.concat([ig, cg])

In [45]:
conca.head()

,Name,INN,ActCode,PropCode,"2014, Выручка, RUB","2015, Выручка, RUB","2016, Выручка, RUB","2017, Выручка, RUB","2018, Выручка, RUB","2019, Выручка, RUB",...,"2014, Чистая прибыль (убыток), RUB","2015, Чистая прибыль (убыток), RUB","2016, Чистая прибыль (убыток), RUB","2017, Чистая прибыль (убыток), RUB","2018, Чистая прибыль (убыток), RUB","2019, Чистая прибыль (убыток), RUB","2020, Чистая прибыль (убыток), RUB","2021, Чистая прибыль (убыток), RUB",PropType,treat
0,"АБИ ГРУПП, ЗАО",3328435022,70.22,16,1.201740e+08,1.413170e+08,1.264400e+08,1.201380e+08,1.618730e+08,2.029470e+08,...,3.039500e+07,1.701600e+07,9.794000e+06,4.640000e+05,1.087100e+07,3.115800e+07,3.204100e+07,2.338800e+07,private,1
1,"АБИ ПРОДАКТ, АО",3328458132,70.22,16,7.395810e+08,1.299192e+09,1.832459e+09,2.757634e+09,2.852426e+09,3.188583e+09,...,5.012300e+08,2.365360e+08,5.352400e+08,3.008589e+09,1.056581e+09,1.835680e+09,3.018320e+09,6.510000e+05,private,1
2,"АВТОДОР, ГОСУДАРСТВЕННАЯ КОМПАНИЯ",7717151380,84.11.8,12,7.209280e+08,4.613910e+08,8.096390e+08,2.428650e+08,NaN,NaN,...,3.631680e+08,9.854550e+08,9.255340e+08,5.013900e+07,NaN,NaN,NaN,NaN,state,1
3,"АГРОКОМПЛЕКС ИМ. Н.И.ТКАЧЕВА, АО ФИРМА",2328000083,01.50,16,2.653824e+10,3.868161e+10,4.475645e+10,4.667984e+10,5.002613e+10,5.319341e+10,...,4.145442e+09,6.645393e+09,2.944203e+09,-2.112012e+09,-2.924708e+09,1.641324e+09,2.673351e+09,8.600205e+09,private,1
4,"АГРОСИЛА, АО",1604010557,69.10,16,NaN,NaN,4.040600e+07,3.228218e+09,3.273816e+09,3.931738e+09,...,NaN,NaN,-1.019000e+06,2.094900e+07,2.024800e+07,5.184000e+07,1.154100e+07,7.441900e+07,private,1

In [47]:
cg.shape

(85941, 30)

In [44]:
conca.shape

(86016, 30)

In [48]:
conca.to_csv('fulldf.csv')

In [54]:
concaNA = conca[conca.isna().any(axis=1)]

In [59]:
ig.shape

(75, 30)

In [60]:
conca.shape

(86016, 30)

In [55]:
concaNA.shape

(33120, 30)

# NA cleaning

In [51]:
cg = pd.read_csv('readycg.csv', index_col=0)

In [35]:
ig = pd.read_csv('readyig.csv', index_col=0)

In [ ]:
ig.info()

In [55]:
ig = ig.loc[:, ~ig.columns.str.contains('2021')]

In [ ]:
ig_NAdel = ig.dropna(thresh=cg.shape[1])

In [56]:
cg = cg.loc[:, ~cg.columns.str.contains('2021')]

In [ ]:
cg_NAdel = cg.dropna(thresh=cg.shape[1])

In [82]:
ig_NAdel[ig_NAdel.isna().any(axis=1)]

Empty DataFrame
Columns: [Name, INN, ActCode, PropCode, 2014, Выручка, RUB, 2015, Выручка, RUB, 2016, Выручка, RUB, 2017, Выручка, RUB, 2018, Выручка, RUB, 2019, Выручка, RUB, 2020, Выручка, RUB, 2014, Прибыль (убыток) до налогообложения , RUB, 2015, Прибыль (убыток) до налогообложения , RUB, 2016, Прибыль (убыток) до налогообложения , RUB, 2017, Прибыль (убыток) до налогообложения , RUB, 2018, Прибыль (убыток) до налогообложения , RUB, 2019, Прибыль (убыток) до налогообложения , RUB, 2020, Прибыль (убыток) до налогообложения , RUB, 2014, Чистая прибыль (убыток), RUB, 2015, Чистая прибыль (убыток), RUB, 2016, Чистая прибыль (убыток), RUB, 2017, Чистая прибыль (убыток), RUB, 2018, Чистая прибыль (убыток), RUB, 2019, Чистая прибыль (убыток), RUB, 2020, Чистая прибыль (убыток), RUB, PropType]
Index: []

[0 rows x 26 columns]

In [81]:
cg_NAdel[cg_NAdel.isna().any(axis=1)]

Empty DataFrame
Columns: [Name, INN, ActCode, PropCode, 2014, Выручка, RUB, 2015, Выручка, RUB, 2016, Выручка, RUB, 2017, Выручка, RUB, 2018, Выручка, RUB, 2019, Выручка, RUB, 2020, Выручка, RUB, 2014, Прибыль (убыток) до налогообложения , RUB, 2015, Прибыль (убыток) до налогообложения , RUB, 2016, Прибыль (убыток) до налогообложения , RUB, 2017, Прибыль (убыток) до налогообложения , RUB, 2018, Прибыль (убыток) до налогообложения , RUB, 2019, Прибыль (убыток) до налогообложения , RUB, 2020, Прибыль (убыток) до налогообложения , RUB, 2014, Чистая прибыль (убыток), RUB, 2015, Чистая прибыль (убыток), RUB, 2016, Чистая прибыль (убыток), RUB, 2017, Чистая прибыль (убыток), RUB, 2018, Чистая прибыль (убыток), RUB, 2019, Чистая прибыль (убыток), RUB, 2020, Чистая прибыль (убыток), RUB, PropType]
Index: []

[0 rows x 26 columns]

In [72]:
cg_NAdel.to_csv('cg_NAdel.csv')

In [73]:
ig_NAdel.to_csv('ig_NAdel.csv')

In [39]:
ig_NAdel = pd.read_csv('ig_NAdel.csv', index_col=0)
cg_NAdel = pd.read_csv('cg_NAdel.csv', index_col=0)

In [12]:
ig_NAdel.head()

,Name,INN,ActCode,PropCode,"2014, Выручка, RUB","2015, Выручка, RUB","2016, Выручка, RUB","2017, Выручка, RUB","2018, Выручка, RUB","2019, Выручка, RUB",...,"2020, Прибыль (убыток) до налогообложения , RUB","2014, Чистая прибыль (убыток), RUB","2015, Чистая прибыль (убыток), RUB","2016, Чистая прибыль (убыток), RUB","2017, Чистая прибыль (убыток), RUB","2018, Чистая прибыль (убыток), RUB","2019, Чистая прибыль (убыток), RUB","2020, Чистая прибыль (убыток), RUB",PropType,ActCode2
0,"АБИ ГРУПП, ЗАО",3328435022,70.22,16,1.201740e+08,1.413170e+08,1.264400e+08,1.201380e+08,1.618730e+08,2.029470e+08,...,4.028200e+07,3.039500e+07,1.701600e+07,9.794000e+06,4.640000e+05,1.087100e+07,3.115800e+07,3.204100e+07,private,70
1,"АБИ ПРОДАКТ, АО",3328458132,70.22,16,7.395810e+08,1.299192e+09,1.832459e+09,2.757634e+09,2.852426e+09,3.188583e+09,...,3.111380e+09,5.012300e+08,2.365360e+08,5.352400e+08,3.008589e+09,1.056581e+09,1.835680e+09,3.018320e+09,private,70
3,"АГРОКОМПЛЕКС ИМ. Н.И.ТКАЧЕВА, АО ФИРМА",2328000083,01.50,16,2.653824e+10,3.868161e+10,4.475645e+10,4.667984e+10,5.002613e+10,5.319341e+10,...,2.686656e+09,4.145442e+09,6.645393e+09,2.944203e+09,-2.112012e+09,-2.924708e+09,1.641324e+09,2.673351e+09,private,01
5,"АГРОФИРМА АДУЧИ, ООО",817001298,01.41,16,5.476300e+07,1.073450e+08,4.689300e+07,2.330300e+07,6.524700e+07,1.407000e+07,...,4.597000e+06,1.153700e+07,5.972000e+06,6.600000e+04,4.491000e+06,5.654000e+06,6.799000e+06,4.597000e+06,private,01
7,"АС ЭВАЛАР, ООО",7704729709,47.73,16,6.453080e+08,7.810120e+08,9.223930e+08,8.822710e+08,9.404620e+08,9.790840e+08,...,-2.595100e+07,8.190000e+06,1.842600e+07,3.940000e+06,-2.796000e+07,-4.219000e+07,-3.440300e+07,-2.376400e+07,private,47

Изменим названия столбцов для удобства:

In [15]:
cg_NAdel.columns

Index(['Name', 'INN', 'ActCode', 'PropCode', '2014, Выручка, RUB',
       '2015, Выручка, RUB', '2016, Выручка, RUB', '2017, Выручка, RUB',
       '2018, Выручка, RUB', '2019, Выручка, RUB', '2020, Выручка, RUB',
       '2014, Прибыль (убыток) до налогообложения , RUB',
       '2015, Прибыль (убыток) до налогообложения , RUB',
       '2016, Прибыль (убыток) до налогообложения , RUB',
       '2017, Прибыль (убыток) до налогообложения , RUB',
       '2018, Прибыль (убыток) до налогообложения , RUB',
       '2019, Прибыль (убыток) до налогообложения , RUB',
       '2020, Прибыль (убыток) до налогообложения , RUB',
       '2014, Чистая прибыль (убыток), RUB',
       '2015, Чистая прибыль (убыток), RUB',
       '2016, Чистая прибыль (убыток), RUB',
       '2017, Чистая прибыль (убыток), RUB',
       '2018, Чистая прибыль (убыток), RUB',
       '2019, Чистая прибыль (убыток), RUB',
       '2020, Чистая прибыль (убыток), RUB', 'PropType', 'ActCode2'],
      dtype='object')

In [ ]:
cg_NAdel.rename(columns={'2014, Прибыль (убыток) до налогообложения , RUB': '2O14PB', '2015, Прибыль (убыток) до налогообложения , RUB': '2O15PB', '2016, Прибыль (убыток) до налогообложения , RUB': '2O16PB', '2017, Прибыль (убыток) до налогообложения , RUB': '2O17PB',}, inplace=True)

In [40]:
c = 2010
for i in range(4,11):
    cg_NAdel.rename(columns={f'{c+i}, Прибыль (убыток) до налогообложения , RUB': f'PB{c+i}'}, inplace=True)
    cg_NAdel.rename(columns={f'{c+i}, Чистая прибыль (убыток), RUB': f'P{c+i}'}, inplace=True)
    cg_NAdel.rename(columns={f'{c+i}, Выручка, RUB': f'R{c+i}'}, inplace=True)

In [41]:
c = 2010
for i in range(4,11):
    ig_NAdel.rename(columns={f'{c+i}, Прибыль (убыток) до налогообложения , RUB': f'PB{c+i}'}, inplace=True)
    ig_NAdel.rename(columns={f'{c+i}, Чистая прибыль (убыток), RUB': f'P{c+i}'}, inplace=True)
    ig_NAdel.rename(columns={f'{c+i}, Выручка, RUB': f'R{c+i}'}, inplace=True)

In [42]:
ig_NAdel['ActCode2'] = ig_NAdel['ActCode'].str[:2]
cg_NAdel['ActCode2'] = cg_NAdel['ActCode'].str[:2]

In [43]:
ig_NAdel['treat'] = 1
cg_NAdel['treat'] = 0

In [44]:
cg_NAdel.columns

Index(['Name', 'INN', 'ActCode', 'PropCode', 'R2014', 'R2015', 'R2016',
       'R2017', 'R2018', 'R2019', 'R2020', 'PB2014', 'PB2015', 'PB2016',
       'PB2017', 'PB2018', 'PB2019', 'PB2020', 'P2014', 'P2015', 'P2016',
       'P2017', 'P2018', 'P2019', 'P2020', 'PropType', 'ActCode2', 'treat'],
      dtype='object')

In [45]:
ig_NAdel.columns

Index(['Name', 'INN', 'ActCode', 'PropCode', 'R2014', 'R2015', 'R2016',
       'R2017', 'R2018', 'R2019', 'R2020', 'PB2014', 'PB2015', 'PB2016',
       'PB2017', 'PB2018', 'PB2019', 'PB2020', 'P2014', 'P2015', 'P2016',
       'P2017', 'P2018', 'P2019', 'P2020', 'PropType', 'ActCode2', 'treat'],
      dtype='object')

In [36]:
ig_NAdel.to_csv('igtor.csv')
cg_NAdel.to_csv('cgtor.csv')

In [48]:
un = pd.concat([ig_NAdel, cg_NAdel]).to_csv('untor.csv')

In [2]:
un = pd.read_csv('untor.csv', index_col=0)

In [35]:
un.iloc(axis=1)[2:5]

       ActCode  PropCode         R2014
0        70.22        16  1.201740e+08
1        70.22        16  7.395810e+08
3        01.50        16  2.653824e+10
5        01.41        16  5.476300e+07
7        47.73        16  6.453080e+08
...        ...       ...           ...
85935  68.20.2        16  1.256500e+07
85936  68.20.2        16  2.462600e+07
85937  68.20.2        16  1.736600e+07
85938    47.73        16  1.471320e+08
85940    52.10        16  5.334600e+07

[57887 rows x 3 columns]